@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

.successPopup {
  position: fixed;
  z-index: 999;
}

.popup {
  display: flex;
  align-items: center;
  position: fixed;
  width: 400px;
  height: 100px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 999;
  overflow: hidden;
  background-color: #4654EA;
  border-radius: 10px;
  
  /* Animate this
  opacity: 0;
  visibility: hidden; */
}

.popup svg {
  margin-left: 35px;
}

.popup p {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-left: 15px;
}

.popup .timeIndicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
    position: fixed;
  z-index: 999;
  /* Animate this
  opacity: 0;
  visibility: hidden; */
}

body {
  background: rgb(243, 243, 243);
  padding: 0;
  margin-bottom: 25px;
  font-family: Georgia, serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

a {
  display: inline-block;
  color: rgb(49, 143, 206);
  text-decoration: none;
}

nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}
nav.scrollUp {
  transform: translateY(-80px);
}
nav ul.navbar-menu {
  margin: 0;
  padding: 0;
  display: inline-block;

}
nav ul.navbar-menu li {
  display: inline-block;
  margin: 0 10px;
}
nav ul.navbar-menu li a {
  color: rgb(31, 109, 212);
  font-size: 14px;
}
nav a#brand {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}
nav button {
  background: none;
  width: 30px;
  height: 40px;
  margin-top: 20px;
  border: none;

  display: inline-block;
  cursor: pointer;
  display: none;
}
nav button span {
  width: 30px;
  height: 40px;
  height: 2px;
  background: rgb(47, 143, 207);
  display: block;
  margin: 5px 0;
}

@media (max-width: 768px) {
  nav ul.navbar-menu {
    display: none;
  }

  nav button {
    display: block;
  }
}