
h1 {
  font-size: 2.75em;
  font-weight: 400;
  color: #222;
}

p {
    font-size: 1.0em;
}

blockquote {
  font-size: 0.85em;
  font-weight: 300;
  color: #555;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project {
  padding: 10px 10px 10px 45px;
  height : 20%;
  max-width: 90%;
  margin: 5.5rem auto;
  border-radius: 1rem;
  overflow: hidden;
  word-wrap: break-word;
  box-shadow: 0 6px 6px 0 rgb(0 0 0 / 0%), 0 6px 6px -2px rgb(0 0 0 / 12%),
    0 2px 10px 0 rgb(0 0 0 / 9%);
  background-color: #fff;
}

.icon {
  display: inline-flex;
  padding: 0.6rem;
  margin: 1.5em 0.25em 0 1.5em;
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0 6px 6px 0 rgb(0 0 0 / 0%), 0 6px 6px -2px rgb(0 0 0 / 12%),
    0 2px 10px 0 rgb(0 0 0 / 9%);
  transition: box-shadow 0.5s;
}

.icon:hover {
  box-shadow: none;
}

.icon svg {
  width: auto;
  height: auto;
  color: #fff;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 765px;
  margin: 0 auto;
}

.outline {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.75rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 6px 6px 0 rgb(0 0 0 / 0%), 0 6px 6px -2px rgb(0 0 0 / 12%),
    0 2px 10px 0 rgb(0 0 0 / 9%);
}

.outline:hover {
  transform: scale(0.85);
  box-shadow: none;
}

.wrapper {
  padding: 2rem;
  height: auto;
  width: 85%;
  max-width: 700px;
  margin: 0 auto 5rem auto;
  border-radius: 1rem;
  box-shadow: 0 6px 6px 0 rgb(0 0 0 / 0%), 0 6px 6px -2px rgb(0 0 0 / 12%),
    0 2px 10px 0 rgb(0 0 0 / 9%);
  background-color: #fff;
}


.circle1 {
    background: rgb(161, 191, 231);
    border: 10px solid rgb(36, 25, 189);
    color: rgb(245, 245, 245);
    text-align: center;
    font: 40px Arial, sans-serif;
  }


.bars1 {
    position: absolute;
    width: 388px;
    top: 120px;
    left: 53%;
}

.bars2 {
    position: absolute;
    width: 388px;
    height:100%;
    top: 170px;
    left: 53%;
}

.bars3 {
    position: absolute;
    width: 388px;
    top: 220px;
    left: 53%;
}

.buttons {
  position: absolute;
  top: 290px;
  left: 66%;
}

.pre-button {
  position: absolute;
  top: 300px;
  left: 60%;
}


  